{% assign patent = site.patents
  | where_exp: "patent", "patent.slug == include.lookup"
  | first
  | default: include
%}

{% assign prize = patent.prize %} 
{% if prize %}
  {% if prize contains "一等奖" %}
  {% assign icon_color="#f7c44d" %}
  {% elsif prize contains "特等奖" %}
  {% assign icon_color="#f7c44d" %}
  {% elsif prize contains "二等奖" %}
  {% assign icon_color="#e0e0e0" %}
  {% elsif prize contains "三等奖" %}
  {% assign icon_color="#7a4c10" %}
  {% endif %}
{% endif %} 

{% if include.style == "rich"%}

<div class="citation-container">
  <!-- {% assign prize = patent.prize %}
{% if prize %}
  {% if prize contains "一等奖" %}
  {% include icon.html icon="fa-solid fa-trophy" color="#f7c44d" %}
  {% elsif prize contains '特等奖' %}
  {% include icon.html icon="fa-solid fa-trophy" color="#f7c44d" %}
  {% elsif prize contains '二等奖' %}
  {% include icon.html icon="fa-solid fa-crown" color="#e0e0e0" %}
  {% elsif prize contains '三等奖' %}
  {% include icon.html icon="fas fa-medal" color="#7a4c10" %}
  {% endif %}
{% endif %}  -->

<div class="citation">
  <div class="citation-text">


    <!-- 根据获奖的级别设置不同的 icon -->


      {% if patent.name or patent.type or patent.description %}


      <div class="citation-title">  
          {% if patent.name %}
              {{ patent.name }}
          {% endif %}
      </div>
      {% endif %}
      <div class="citation-info">
      {% if patent.type and patent.type!="其他" %}
          {{ patent.type }}
      {% endif %}
      {%  if patent.prize %}
          {{ patent.prize }}
      {% endif %}
    </div>
      
          <div class="citation-date">
             <!-- 解析patent.time的Y-m -->
              <!-- 输出为%Y年-%m月 -->
              {% if patent.date %}
              {{ patent.date | date: "%Y年%m月" }}
              {% endif %}
              {% if patent.detail %} 
            <a href="{{ patent.url | relative_url }}" title="{{ patent.name }}" >
              查看详情
            </a>
            {% endif %}
          </div>
      
      
      <div class="citation-details">
      {% if patent.description %}
          {{ patent.description }}
      {% endif %}
    </div>
    {% if patent.members %}
    <div class= "citation-authors">
      <!-- 遍历奖项的 members -->
        <strong>成员:</strong>
        {% for author in patent.members %}
        {% assign member = site.members
          | where_exp: "member", "member.slug == author"
          | first
        %}
        {% if member %}
        <a href="{{ member.url | relative_url }}" title="{{ member.name }}" class="center">
          <img src="{{ member.image | relative_url }}" alt="{{ member.name }}" class="portrait-image" loading="lazy" style="width: 30px;">
          {{ member.name }}
        </a>
        {% else %}
          {{ author }}
        
      {% endif %}
          {% unless forloop.last %},{% endunless %}
        {% endfor %}
    </div>
    {% endif %}
  </div>

</div>
</div>
{% endif %} 
{% if include.style == "simple"%}
<!-- 不显示 svg 图片，不用 container -->
<div class="citation-simple">
  {% if patent.name or patent.type or patent.description %}
  <div class="citation-text-simple" >
    <div class="citation-title center simple">
      {% if patent.name %}
        {{ patent.name }}
      {% endif %}
    </div>
  {% endif %}
  <div class="citation-info center simple">
    {% if patent.type and patent.type!="其他" %}
      {{ patent.type }}
    {% endif %}
    {% if patent.prize %}
      {{ patent.prize }}
    {% endif %}
  </div>

    <div class="citation-date center simple">
      {% if patent.time %}
      {{ patent.date | date: "%Y年-%m月" }}
      {% endif %}
      
    </div>

  <div class="citation-details center simple">
    {% if patent.ID %}
      {{ patent.ID }}
      {% endif %}
  </div>
  {% if patent.members %}
    <div class="citation-authors center simple align-right" >
      <strong>成员:</strong>
      {% for author in patent.members %}
        {% assign member = site.members
          | where_exp: "member", "member.slug == author"
          | first
        %}
        {% if member %}
          <a href="{{ member.url | relative_url }}" title="{{ member.name }}" class="center">
            <img src="{{ member.image | relative_url }}" alt="{{ member.name }}" class="portrait-image" loading="lazy" style="width: 30px;">
            {{ member.name }}
          </a>
        {% else %}
          {{ author }}
        {% endif %}
        {% unless forloop.last %},{% endunless %}
      {% endfor %}
    </div>
  {% endif %}
</div>
</div>
{% endif %} 
