{% assign member = site.members
  | where_exp: "member", "member.slug == include.lookup"
  | first
  | default: include
%}


<div class="portrait-wrapper">
  <a 
    {% if page.slug != member.slug %}
    href="{{ member.url | relative_url }}"
    {% endif %}
    class="portrait"
    data-style="{{ include.style }}"
    aria-label="{{ member.name | default: "member link" }}"
  >
    <img
      src="{{ member.image | relative_url }}"
      class="portrait-image"
      alt="member portrait"
      loading="lazy"
      {% include fallback.html %}
    >

    {% if member.name or member.role or member.description %}
      <span class="portrait-text">
        {% if member.name %}
          <span class="portrait-name">
            {{ member.name }}
          </span>
        {% endif %}

        {% if member.role or member.description %}
          <span class="portrait-role">
            {% assign type = site.data.types[member.role] %}
            {% include icon.html icon=type.icon %}
            {% if member.affiliation %}
            <span>{{ member.affiliation | default: type.affiliation }}</span>
            {% endif %}


            {% if member.grade %}
            <br>
            <span>{{ member.grade | default: type.grade }}级</span>
            {% endif %}
            {% if member.description %}
            <br>
            <span>{{ member.description | default: type.description }}</span>
            {% endif %}
          </span>
          <span class="portrait-role">
            {% if member.echelon %}
            {{ member.echelon }} 赛季梯队
          {% endif %}
          {% if member.time and member.echelon %} 
          ·
          {% endif %}
          {% if member.time %}
            {{ member.time }} 赛季主力
          {% endif %}
          </span>
        {% endif %}
      </span>
    {% endif %}
  </a>

  {% if member.homepage or member.google-scholar or member.github %}
    <div class="portrait-links">
      {% if member.homepage %}
        <div style="margin-left: 10px; margin-right: 10px;">
          <a href="{{ member.homepage }}" target="_blank" rel="noopener" title="个人主页"
            text-decoration-line="none">
            <i class="fas fa-house"></i>
          </a>
        </div>
      {% endif %}

      {% if member.google-scholar %}
        <div style="margin-left: 10px; margin-right: 10px;">
          <a href="{{ member.google-scholar }}" target="_blank" rel="noopener" title="Google" text-decoration-line="none">
            <i class="fab fa-google"></i>
          </a>
        </div>
      {% endif %}

      {% if member.github %}
        <div style="margin-left: 10px; margin-right: 10px;">
          <a href="{{ member.github }}" target="_blank" rel="noopener" title="Github" text-decoration-line="none">
            <i class="fab fa-github"></i>
          </a>
        </div>
      {% endif %}
    </div>

  {% endif %}



</div>
