{% assign project = site.projects
  | where_exp: "projects", "project.slug == include.lookup"
  | first
  | default: include
%}

{% if include.style == "rich"%}

<div class="citation-container">
<div class="citation">

  <div class="citation-text">
      {% if project.name or project.type or project.description %}


      <div class="citation-title">  
          {% if project.name %}
              {{ project.name }}
          {% endif %}
      </div>
      {% endif %}
      <div class="citation-info">
      {% if project.type and project.type!="其他" %}
          {{ project.type }}
      {% endif %}
      {%  if project.prize %}
          {{ project.prize }}
      {% endif %}
    </div>
      {% if project.date %}
          <div class="citation-date">

              {{ project.date | date: "%Y年" }}

          </div>
      {% endif %}
      <div class="citation-details">
      {% if project.description %}
          {{ project.description }}
      {% endif %}
    </div>
    {% if project.members %}
    <div class= "citation-authors">
      <!-- 遍历奖项的 members -->
        <strong>成员:</strong>
        {% for author in project.members %}
        {% assign member = site.members
          | where_exp: "member", "member.slug == author"
          | first
        %}
        {% if member %}
        <a href="{{ member.url | relative_url }}" title="{{ member.name }}" class="center">
          <img src="{{ member.image | relative_url }}" alt="{{ member.name }}" class="portrait-image" loading="lazy" style="width: 30px;">
          {{ member.name }}
        </a>
        {% else %}
          {{ author }}
        
      {% endif %}
          {% unless forloop.last %},{% endunless %}
        {% endfor %}
    </div>
    {% endif %}
  </div>

</div>
</div>
{% endif %} 
{% if include.style == "simple"%}
<!-- 不显示 svg 图片，不用 container -->
<div class="citation-simple">
  {% if project.name or project.type or project.description %}
  <div class="citation-text-simple" >
    <div class="citation-title center simple">
      {% if project.name %}
        {{ project.name }}
      {% endif %}
    </div>
  {% endif %}
  <div class="citation-info center simple">
    {% if project.type and project.type!="其他" %}
      {{ project.type }}
    {% endif %}
    {% if project.prize %}
      {{ project.prize }}
    {% endif %}
  </div>
  {% if project.time %}
    <div class="citation-date center simple">
      {{ project.time | date: "%Y年-%m月" }}
    </div>
  {% endif %}
  <div class="citation-details center simple">
    {% if project.description %}
      {{ project.description }}
    {% endif %}
  </div>
  {% if project.members %}
    <div class="citation-authors center simple align-right" >
      <strong>成员:</strong>
      {% for author in project.members %}
        {% assign member = site.members
          | where_exp: "member", "member.slug == author"
          | first
        %}
        {% if member %}
          <a href="{{ member.url | relative_url }}" title="{{ member.name }}" class="center">
            <img src="{{ member.image | relative_url }}" alt="{{ member.name }}" class="portrait-image" loading="lazy" style="width: 30px;">
            {{ member.name }}
          </a>
        {% else %}
          {{ author }}
        {% endif %}
        {% unless forloop.last %},{% endunless %}
      {% endfor %}
    </div>
  {% endif %}
</div>
</div>
{% endif %} 